body {
    background: #68e8ff;
    color: #fff;
    text-align: center;
    font-family: 'Droid Sans';
    font-weight: 400;
    font-size: 30px;
    margin: 0
}

.wrapper header {
    white-space: nowrap;
    background: #3bebd1;
    margin: auto;
    overflow: hidden
}

.wrapper header h1 {
    margin-bottom: 10px;
    font-family: 'Libre Franklin';
    font-size: 3em
}

.wrapper header h1 span {
    padding: 0;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards
}

.wrapper header h1 span.char1 {
    color: #fff;
    text-shadow: -1px 4px 1px #af5c53;
    transform: rotate(4.82127deg);
    text-decoration: underline;
    animation-delay: .0125s;
    animation-name: h1Animation-1
}

@keyframes h1Animation-1 {
    from {
        color: #fff
    }

    to {
        color: #ff5441
    }
}

.wrapper header h1 span.char2 {
    color: #fff;
    text-shadow: -1px 4px 1px #af6553;
    transform: rotate(5.20989deg);
    text-decoration: underline;
    animation-delay: .025s;
    animation-name: h1Animation-2
}

@keyframes h1Animation-2 {
    from {
        color: #fff
    }

    to {
        color: #ff6741
    }
}

.wrapper header h1 span.char3 {
    color: #fff;
    text-shadow: -1px 4px 1px #af6f53;
    transform: rotate(.80856deg);
    text-decoration: underline;
    animation-delay: .0375s;
    animation-name: h1Animation-3
}

@keyframes h1Animation-3 {
    from {
        color: #fff
    }

    to {
        color: #ff7a41
    }
}

.wrapper header h1 span.char4 {
    color: #fff;
    text-shadow: -1px 4px 1px #af7853;
    transform: rotate(-4.33616deg);
    text-decoration: underline;
    animation-delay: .05s;
    animation-name: h1Animation-4
}

@keyframes h1Animation-4 {
    from {
        color: #fff
    }

    to {
        color: #ff8d41
    }
}

.wrapper header h1 span.char5 {
    color: #fff;
    text-shadow: -1px 4px 1px #af8153;
    transform: rotate(-5.49423deg);
    text-decoration: underline;
    animation-delay: .0625s;
    animation-name: h1Animation-5
}

@keyframes h1Animation-5 {
    from {
        color: #fff
    }

    to {
        color: #ffa041
    }
}

.wrapper header h1 span.char6 {
    color: #fff;
    text-shadow: -1px 4px 1px #af8a53;
    transform: rotate(-1.60093deg);
    text-decoration: underline;
    animation-delay: .075s;
    animation-name: h1Animation-6
}

@keyframes h1Animation-6 {
    from {
        color: #fff
    }

    to {
        color: #ffb341
    }
}

.wrapper header h1 span.char7 {
    color: #fff;
    text-shadow: -1px 4px 1px #af9353;
    transform: rotate(3.76426deg);
    text-decoration: underline;
    animation-delay: .0875s;
    animation-name: h1Animation-7
}

@keyframes h1Animation-7 {
    from {
        color: #fff
    }

    to {
        color: #ffc641
    }
}

.wrapper header h1 span.char8 {
    color: #fff;
    text-shadow: -1px 4px 1px #af9d53;
    transform: rotate(5.66861deg);
    text-decoration: underline;
    animation-delay: .1s;
    animation-name: h1Animation-8
}

@keyframes h1Animation-8 {
    from {
        color: #fff
    }

    to {
        color: #ffd941
    }
}

.wrapper header h1 span.char9 {
    color: #fff;
    text-shadow: -1px 4px 1px #afa653;
    transform: rotate(2.36126deg);
    text-decoration: underline;
    animation-delay: .1125s;
    animation-name: h1Animation-9
}

@keyframes h1Animation-9 {
    from {
        color: #fff
    }

    to {
        color: #ffec41
    }
}

.wrapper header h1 span.char10 {
    color: #fff;
    text-shadow: -1px 4px 1px #afaf53;
    transform: rotate(-3.11701deg);
    text-decoration: underline;
    animation-delay: .125s;
    animation-name: h1Animation-10
}

@keyframes h1Animation-10 {
    from {
        color: #fff
    }

    to {
        color: #ffff41
    }
}

.wrapper header h1 span.char11 {
    color: #fff;
    text-shadow: -1px 4px 1px #a6af53;
    transform: rotate(-5.72952deg);
    text-decoration: underline;
    animation-delay: .1375s;
    animation-name: h1Animation-11
}

@keyframes h1Animation-11 {
    from {
        color: #fff
    }

    to {
        color: #ecff41
    }
}

.wrapper header h1 span.char12 {
    color: #fff;
    text-shadow: -1px 4px 1px #9daf53;
    transform: rotate(-3.07434deg);
    text-decoration: underline;
    animation-delay: .15s;
    animation-name: h1Animation-12
}

@keyframes h1Animation-12 {
    from {
        color: #fff
    }

    to {
        color: #d9ff41
    }
}

.wrapper header h1 span.char13 {
    color: #fff;
    text-shadow: -1px 4px 1px #93af53;
    transform: rotate(2.40738deg);
    text-decoration: underline;
    animation-delay: .1625s;
    animation-name: h1Animation-13
}

@keyframes h1Animation-13 {
    from {
        color: #fff
    }

    to {
        color: #c6ff41
    }
}

.wrapper header h1 span.char14 {
    color: #fff;
    text-shadow: -1px 4px 1px #8aaf53;
    transform: rotate(5.67576deg);
    text-decoration: underline;
    animation-delay: .175s;
    animation-name: h1Animation-14
}

@keyframes h1Animation-14 {
    from {
        color: #fff
    }

    to {
        color: #b3ff41
    }
}

.wrapper header h1 span.char15 {
    color: #fff;
    text-shadow: -1px 4px 1px #81af53;
    transform: rotate(3.72587deg);
    text-decoration: underline;
    animation-delay: .1875s;
    animation-name: h1Animation-15
}

@keyframes h1Animation-15 {
    from {
        color: #fff
    }

    to {
        color: #a0ff41
    }
}

@keyframes fadeIn {
    from {
        opacity: 0 !important
    }

    to {
        opacity: 1 !important
    }
}

.wrapper header h2.title {
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-play-state: running
}

.wrapper header h2.title span {
    display: inline-block;
    font-size: 1.2em;
    animation-name: h2Animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    opacity: 0
}

.wrapper header h2.title span.char1 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #db2ea2;
    animation-delay: 1.025s
}

.wrapper header h2.title span.char2 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #db2e90;
    animation-delay: 1.05s
}

.wrapper header h2.title span.char3 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #db2e7f;
    animation-delay: 1.075s
}

.wrapper header h2.title span.char4 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #db2e6e;
    animation-delay: 1.1s
}

.wrapper header h2.title span.char5 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #db2e5d;
    animation-delay: 1.125s
}

.wrapper header h2.title span.char6 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #db2e4b;
    animation-delay: 1.15s
}

.wrapper header h2.title span.char7 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #db2e3a;
    animation-delay: 1.175s
}

.wrapper header h2.title span.char8 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #db332e;
    animation-delay: 1.2s
}

.wrapper header h2.title span.char9 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #db452e;
    animation-delay: 1.225s
}

.wrapper header h2.title span.char10 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #db562e;
    animation-delay: 1.25s
}

.wrapper header h2.title span.char11 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #db672e;
    animation-delay: 1.275s
}

.wrapper header h2.title span.char12 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #db792e;
    animation-delay: 1.3s
}

.wrapper header h2.title span.char13 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #db8a2e;
    animation-delay: 1.325s
}

.wrapper header h2.title span.char14 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #db9b2e;
    animation-delay: 1.35s
}

.wrapper header h2.title span.char15 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #dbad2e;
    animation-delay: 1.375s
}

.wrapper header h2.title span.char16 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #dbbe2e;
    animation-delay: 1.4s
}

.wrapper header h2.title span.char17 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #dbcf2e;
    animation-delay: 1.425s
}

.wrapper header h2.title span.char18 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #d6db2e;
    animation-delay: 1.45s
}

.wrapper header h2.title span.char19 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #c4db2e;
    animation-delay: 1.475s
}

.wrapper header h2.title span.char20 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #b3db2e;
    animation-delay: 1.5s
}

.wrapper header h2.title span.char21 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #a2db2e;
    animation-delay: 1.525s
}

.wrapper header h2.title span.char22 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #90db2e;
    animation-delay: 1.55s
}

.wrapper header h2.title span.char23 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #7fdb2e;
    animation-delay: 1.575s
}

.wrapper header h2.title span.char24 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #6edb2e;
    animation-delay: 1.6s
}

.wrapper header h2.title span.char25 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #5ddb2e;
    animation-delay: 1.625s
}

.wrapper header h2.title span.char26 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #4bdb2e;
    animation-delay: 1.65s
}

.wrapper header h2.title span.char27 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #3adb2e;
    animation-delay: 1.675s
}

.wrapper header h2.title span.char28 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #2edb33;
    animation-delay: 1.7s
}

.wrapper header h2.title span.char29 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #2edb45;
    animation-delay: 1.725s
}

.wrapper header h2.title span.char30 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #2edb56;
    animation-delay: 1.75s
}

.wrapper header h2.title span.char31 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #2edb67;
    animation-delay: 1.775s
}

.wrapper header h2.title span.char32 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #2edb79;
    animation-delay: 1.8s
}

.wrapper header h2.title span.char33 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #2edb8a;
    animation-delay: 1.825s
}

.wrapper header h2.title span.char34 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #2edb9b;
    animation-delay: 1.85s
}

.wrapper header h2.title span.char35 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #2edbad;
    animation-delay: 1.875s
}

.wrapper header h2.title span.char36 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #2edbbe;
    animation-delay: 1.9s
}

.wrapper header h2.title span.char37 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #2edbcf;
    animation-delay: 1.925s
}

.wrapper header h2.title span.char38 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #2ed6db;
    animation-delay: 1.95s
}

.wrapper header h2.title span.char39 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #2ec4db;
    animation-delay: 1.975s
}

.wrapper header h2.title span.char40 {
    transform: translateY(-10%);
    text-shadow: -1px 4px 1px #2eb3db;
    animation-delay: 2s
}

@keyframes h2Animation {
    from {
        transform: translateY(-20%);
        opacity: 0
    }

    to {
        transform: translateY(15%);
        opacity: 1
    }
}

a {
    color: #fff
}

/*# sourceMappingURL=style.css.map */